.CategoryTipsBox {
    padding: 2%;
    padding-bottom: 5rem;
}

.CategoryTipsBox > h1 {
    padding: 3%;
}

.TipsBox {
    display: flex;
    flex-direction: column; 
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.tName {
    font-size: 1.2em;
    padding: 0.5rem;
}

.TipLink {
    padding: 1rem;
    margin: 2%;
    text-decoration: none;
    color: black;
    width: 60%;
    height: 200px;
    border-radius: 30px;
    background: white; 
    border: 3px solid #FF8E29;
    -webkit-transition: all .15s ease-in-out;
    transition: all .15s ease-in-out;
}

.TipLink:hover {
    background: #FFBA66;
    box-shadow: 0 0 10px 0 #FF8E29 inset, 0 0 20px 2px #FF8E29;
    border: 3px solid #FF8E29;
}

.TipLink:active {
    background: #D9A86C;
}

/* tip description css */
.tipDesc {
    max-height: 6rem;
    /* line clamping so ellipsis is used after 3 lines */
    display: -webkit-box;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical; 
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 0.8em;
    word-wrap: break-word;
}

@media only screen and (min-width: 600px) {   
    .TipsBox {
        flex-direction: row;
        flex-wrap: wrap;
    }

    .tName{
        font-size: 1em;
    }

    .TipLink {
        width: 25%;
        margin: 1rem;
        overflow: hidden;
        min-height: 20vh;
    }
}

@media only screen and (min-width: 1024px) { 
    .CategoryTipsBox{
        min-height: 88vh;
        padding: 1rem;
    }

    .CategoryTipsBox > h1 {
        padding: 1rem;
    }

    .tipDesc {
        max-height: 10rem;
        -webkit-line-clamp: 6;
    }

    .TipLink {
        width: 20%;  
        height: 25vh;
    }
}