.tipLink {
    text-decoration: none;
    color: black;
}

.tipLink:hover {
    color: orange;
}

.cardName {
    font-size: 18px;
    padding: 15px;
    border: 2px solid black;
    margin: 5px;
    width: 95%;
    background: lightblue;
    border-radius: 30px;
}

/* for tablets */
@media only screen and (min-width: 600px) {
    .cardName {
        padding: 1.8rem;
    }
}

/* for large screens */
@media only screen and (min-width: 1024px) {
    .tipLink {
        width: 100%;
    }
}