.tipLink {
    text-decoration: none;
    color: black;
}

.tipLink:hover {
    color: orange;
}

.cardName {
    font-size: 18px;
    padding: 1rem;
    margin: 0.5rem auto;
    width: 95%;
    background: #82CAFF;
    border-radius: 30px;
    color: black;
    font-weight: bold;
}

/* for tablets */
@media only screen and (min-width: 600px) {
    .cardName {
        padding: 1.8rem;
        margin: 1rem auto;
    }
    
}

/* for large screens */
@media only screen and (min-width: 1024px) {
    .tipLink {
        width: 100%;
    }
}