/*container for entire Landing page content*/
.LandingContent {
    min-height: 90vh;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    justify-content: center;
    width: 75%;
}

.landingLogo {
    width: 100px;
    height: 100px;
    margin: 0 auto;
}

h1 {
    font-size: 2.5em;
    margin: 10px auto;
}

/*description on Landing Page*/
.description {
    margin: 10% auto;
}

/*Let's Go button*/
.letsGoButton {
    border-radius: 30px;
    padding: 3%;
    background: white;
    width: 35%;
    margin: 5%;
    background: lightgrey;
    text-decoration: none;
}

.landingFooter{
    text-align: right;
    position: absolute;
    right: 5px;
    bottom: 5px;
    font-size: 10px;
}

/* for tablets */
@media only screen and (min-width: 600px) {
    .LandingContent > h1{
        font-size: 5em;
        margin: 10%;
        margin-top: 0;
    }

    .description {
        font-size: 1.5em;
    }

    .letsGoButton {
        padding: 5%;
        font-size:1.6em;
    }
}