.TipContainer {
    width: 85%;
    margin: 0 auto;
    min-height: 88vh;
    padding-bottom: 5rem;
    padding-top: 1rem;
}

.tipTitle {
    font-size: 2em;
    margin-bottom: 0.5rem;
    word-wrap: break-word;
    word-break: normal;
}

.catName {
    font-size: 1.2em;
    margin-bottom: 0.5rem;
}

.tipText {
    text-align: left;
    margin: 10px;
    word-wrap: break-word;
    word-break: normal;
}

.indent {
    text-align: left;
    text-indent: 2rem;
}

.lefttext {
    text-align: left;
}

.bold {
    font-weight: bold;
}

.sourceBox {
    margin: 20px;
    word-wrap: break-word;
    word-break: normal;
}

.buttonBox {
    margin: 0;
    width: 100%;
}

.deleteTipButton {
    background: lightcoral;
    box-shadow: none;
    padding: 13px;
    margin-left: 15%;
}

.button {
    border: 2px solid black;
    border-radius: 3px;
    text-transform: uppercase;
    transition: all 0.3s ease 0s;

}

.editTipButton {
    background: white;
    text-decoration: none;
    color: black;
    padding: 0.65rem 1.3rem;
}

.button:hover {
    color: white;
    background: black;
    border-radius: 50px;
    border-color: white;
    transition: all 0.3s ease 0s;
}

.deleteTipButton:hover {
    background:red;
}

@media only screen and (min-width: 600px) {
    .button {
        height: 3rem;
        min-width: 8rem;
    }

    .editTipButton {
        padding: 0.8rem 3rem;
    }
}

@media only screen and (min-width: 1024px) {
    .tipTitle {
        margin-top: 1.5rem;

    }
    


}