/*Page not found styling*/
.notFound {
    min-height: 95vh;
    padding-bottom: 3rem;
    padding-top: 10rem;
    width: 80%;
    margin: 0 auto;
}

.notFoundTitle {
    color: #f25107;
    font-size: 2em;
    background: white;
    width: 90%;
    margin: 0 auto;
    border-radius: 30px;
}

/*page not found message*/
.notFoundError {
    font-size: 1.5em;
    margin: 10% auto;
    border-radius: 30px;
    background: white;
    width: 80%;
    padding: 3%;
}

/* for tablets */
@media only screen and (min-width: 600px) {
    .description {
        font-size: 1.5em;
    }

    .notFoundError {
        margin: 15% auto;
    }
}

/* for large screens */
@media only screen and (min-width: 1024px) {
    .notFound {
        min-height: 90vh;
        padding-bottom: 3rem;
    }
}