.RandomContent {
    margin: 0;
    padding-bottom: 5rem;
    padding-top: 2.3rem;
}

.RandomContent > h1 {
    font-size: 2em;
    padding: 3%;
    font-family: 'Della Respira', serif;
}

  /*for ipads and larger screen sizes*/
  @media only screen and (min-width: 600px) {
    .RandomContent {
      padding-bottom: 5rem;
      min-height: 97vh;
      padding-top: 5.8rem;
    }
    
    .RandomContent > h1 {
          padding: 1%;
      }
    }

      /*for desktops*/
  @media only screen and (min-width: 1024px) {
    .RandomContent{
      min-height: 92vh;
      padding-top: 1rem;
      padding-bottom: 4rem;
    }
  }