.AddTipContent{
    width: 90%;
    margin: 0 auto;
    padding-bottom: 4rem;
}

.wide {
    width: 95%;
}

 /*for ipads and larger screen sizes*/
 @media only screen and (min-width: 600px) {
    .formCancel {
        padding-top: 4%;
    }
}

 /*for desktops*/
 @media only screen and (min-width: 1024px) {
    .formCancel {
        padding-top: 2%;
    }
 }