.AddTipContent{
    width: 90%;
    margin: 0 auto;
    padding-bottom: 3rem;
}

legend {
    font-size: 2em;
    font-weight: bolder;
    margin: 3%;
}

#Category {
    font-size: 1em;
    width: 65%;
    border: 1px solid black;
}

.inputLabel {
    text-align: left;
}

.addForm {
    text-align: left;
    font-size: 1em;
}

.inputAdd {
    margin: 10px;
    border: 1px solid black;
    font-size: 1em;
    width: 60%;
    text-align: left;
    padding-left: 5px;
  }

.sourceText {
    height: 5rem;
}

 /*for ipads and larger screen sizes*/
 @media only screen and (min-width: 600px) {
    .addForm {
        width: 80%;
        margin: 0 auto;
    }
}