.navBar {
  width: 100%;
  background: lightgrey;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.categoryIcon {
  width: 20%;
  text-decoration: none;
  padding: 3% 0;
  border-right: 1px solid lightslategray;
} 

.backButton{
  padding: 3.5% 0;
  border: none;
  background: none;
  border-right: 1px solid lightslategray;
}

.addIcon {
  border-right: none;
}

.logoImage {
  width: 30px;
  height: 30px;
}

 .buttonName {
  text-decoration: none;
  color: black;
  font-size: 12px;
} 

.dropdown {
  height: 100%;
  width: 100%;
}

.dropButton{
  background-color: lightgrey;
  color: white;
  border: none;
  cursor: pointer;
  padding: 0;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: slategray;
  min-width: 90vw;
  right: 0.9rem;
  z-index: 1;
}

/* Show menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
  border-radius: 30px;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
  background-color: darkgray;
}

/* Change color of dropdown links on active and hover */
.dropdown:active, .dropdown:hover, .categoryIcon:active, .categoryIcon:hover,
.dropdown:hover .dropButton {
  background-color: gray;
}

.searchBar {
  margin: 1rem;
}

.searchButton {
  padding: 0.7rem;
}

.searchField {
  font-size: 1.2em;
  text-align: left;
  padding: 3%;
  width: 80%;
}

.searchImage {
  width: 15px;
  height: 15px;
}

.searchResultsBox {
  margin: 10px auto; 
  width: 80%;
  overflow-y: auto;
  max-height: 30rem; 
}

/* for tablets */
@media only screen and (min-width: 600px) {
  .logoImage {
    width: 50px;
    height: 50px;
  }

  .dropdown-content {
    right: 35px;
  }

  .searchField {
    font-size: 1.6em;
    width: 75%;
    border-radius: 10px;
  }

  .searchBar {
    width: 100%;
    margin: auto;
    margin-top: 0.7rem;
  }

  .searchResultsBox {
    display: block;
    background-color: none;
    width: 56%;
    overflow-y: auto;
    max-height: 30rem;
  }

  .cardName {
    margin: 0
  }
}

/* for large screens */
@media only screen and (min-width: 1024px) {
  .logoImage {
    width: 25px;
    height: 25px;
    border: none;
  }

  .categoryIcon {
    border: none;
    width: 9%;
    padding: 2em;
  }

  .navBar {
    display: inline-flex;
    flex-direction: row;
    height: 6rem;
  }

  .backButton {
    position: absolute;
    left: 1rem;
    top: 0;
    margin: 0;
    width: 75px;
    height: 75px;
    top: 1em;
    padding: 0;
  }

  .buttonName {
    font-size: 1em;
    margin-top: 10px;
  }

  .catButton {
    position: absolute;
    right: 15%;
    top: 1.5em;
    padding: 0;
  }

  .randomIcon {
    position: absolute;
    right: 7%;
    top: 1.5em;
    margin: 0;
    padding: 0;
  }

  .addIcon {
    position: absolute;
    right: 0;
    padding: 0;
    margin: 0;
    top: 1.5em;
  }

  .dropButton, .searchWord {
    display: none;
  }

  .dropdown:active, .dropdown:hover, .categoryIcon:active, .categoryIcon:hover,
  .dropdown:hover .dropButton {
    background-color: transparent;
  }

  .addIcon:hover, .randomIcon:hover, .catButton:hover {
    background-color: gray;
    padding: 0;
  }

  .backButton:hover {
    background: gray;
  }

  .searchField{
    font-size: 1em;
    border-radius: 30px;
    margin: 0;
    padding: 1rem;
    width: 95%;
  }

  .dropdown-content {
    display: block;
    background-color: gray;
    min-width: 30rem;
    top: 0.4em;
    right: 35%;
    border-radius: 30px;
  }
  
  .searchResultsBox {
    width: 90%;
    padding: 0 10%;
    overflow-y: auto;
    max-height: 30rem;
    background-color: gray;
  }
}

/* for large screens */
@media only screen and (min-width: 1200px) {
  .dropdown-content {
    min-width: 40rem;
    top: 0.4em;
    right: 35%;
    height: 5rem;
    border-radius: 30px;
  }

  .searchResultsBox {
    padding: 0 20%;
  }
}