.navBar {
  width: 100%;
  background: lightgrey;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.categoryIcon {
  width: 20%;
  text-decoration: none;
  padding: 3% 0;
  border-right: 1px solid lightslategray;
} 

.backButton{
  padding: 3.5% 0;
  border: none;
  background: none;
  border-right: 1px solid lightslategray;
}

.addIcon {
  border-right: none;
}

.logoImage {
  width: 30px;
  height: 30px;
}

 .buttonName {
  text-decoration: none;
  color: black;
  font-size: 12px;
} 



.dropdown {
  height: 100%;
  width: 100%;

}

.dropButton{
  background-color: lightgrey;
  color: white;
  border: none;
  cursor: pointer;
  padding: 0;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: slategray;
  min-width: 90vw;
  min-height: 8vh;
  right: 19px;
  z-index: 1;

}

/* Show menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
  border-radius: 30px;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
  background-color: darkgray;
}

/* Change color of dropdown links on active and hover */
.dropdown:active, .dropdown:hover, .categoryIcon:active, .categoryIcon:hover,
.dropdown:hover .dropButton {
  background-color: gray;
}

.searchBar {
  margin: 1rem;
}

.searchButton {
  padding: 0.7rem;
}

.searchField {
  font-size: 1.2em;
  text-align: left;
  padding: 3%;
  width: 80%;
}

.searchImage {
  width: 15px;
  height: 15px;
}
/*

 
for ipads and larger screen sizes*/
/*@media only screen and (min-width: 600px) {
  main{
    margin: 5px;
  }

  .logoImage {
    width: 40px;
    height: 40px;
  }

  .dropdown {
    margin: 12px auto 0;
  }

  .dropButton{
    padding: 0 0 10px;
  }

  .dropdown-content {
    right: 35px;
  }

  .dropdown:hover .dropButton {
    width: 80px;
  }

  .searchField {
    font-size: 1.6em;
    width: 75%;
    padding: 3%;
  }

  .searchButton {
    font-size: 1.5em;
    width: 18%;
  }

  .footerImage {
    width: 35px;
    height: 35px;
  }
}

/*for desktops*/
/*@media only screen and (min-width: 1100px) {
  .navBar {
    display: none;
  }

  .desktopNavBar {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    padding: 10px;
    background: lightgrey;
  }

  .navSec1 {
    position: absolute;
    left: 0;
    margin: 10px 20px 0;
  }

  .links {
    position: absolute;
    right: 0;
    margin: 2% 3% 0 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 15%;
  }

  .searchSection {
    width: 35%;
    font-size: 0.8em;
    margin: 0;
  }

  .searchBar {
    margin: 1.5%;
  }
} */
