/*Footer*/
footer {
    flex-shrink: 0;
    font-size: 10px;
    width: 100%;
    background: white;
    padding: 10px 0px;
    align-items: baseline;
    display: inline-flex;
    justify-content: center;
  }
  
  .footerNote {
    margin-right: 15px;
    position: absolute;
    right: 0;
    /* margin-top: 3vh; */
    bottom: 10px;
  }
  
  .footerImage {
    width: 30px;
    height: 30px;
    border-radius: 5px;
  }
  
  .footerLogo {
    width: 25%;
  }