/*Footer*/
footer {
    flex-shrink: 0;
    font-size: 10px;
    width: 100%;
    background: lightgrey;
    padding: 10px 0px;
    align-items: baseline;
    display: inline-flex;
    justify-content: center;
  }
  
  .footerNote {
    margin-right: 15px;
    position: absolute;
    right: 0;
    /* margin-top: 3vh; */
    bottom: 10px;
  }
  
  .footerImage {
    width: 35px;
    height: 35px;
    border-radius: 15px;
  }
  
  .footerLogo {
    width: 25%;
  }

/* for tablets */
@media only screen and (min-width: 600px) {
  .footerImage {
    width: 60px;
    height: 60px;
  }
}

/* for large screens */
@media only screen and (min-width: 1024px) {
  .footerImage {
    width: 40px;
    height: 40px;
  } 
}
