* {
    box-sizing: border-box;
    margin: 0;
    text-align: center;
}

body {
    background-color: #07B0F2;
    min-height: -webkit-fill-available;
}

/*container for all app content*/
main {
    min-height: 100vh;
    text-align: center;
    position: relative;
    font-family: 'ABeeZee', sans-serif;
}

/*Container for footer*/
footer {
    position: absolute;
    width: 100%;
    bottom: 0;
    left:0;
}

.content {
    background: url(/images/white-and-blue-waves.jpg) no-repeat center center fixed;
    min-height: 85vh;
    width: 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover; 
}