* {
    box-sizing: border-box;
    margin: 0;
    text-align: center;
}

body {
    background-color: #07B0F2;
    min-height: -webkit-fill-available;
}

/*container for all app content*/
main {
    min-height: 100vh;
    text-align: center;
    position: relative;
    font-family: 'ABeeZee', sans-serif;
}

/*Container for footer*/
footer {
    position: absolute;
    width: 100%;
    bottom: 0;
    left:0;
}